.avatar {
  position: relative;
  display: inline-flex;
  flex: none;
}

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 9999px;
  background: var(--color-avatar-background);
  color: var(--color-avatar-text);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.statusRing,
.actionRing {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-badge-ring-size);
  height: var(--avatar-badge-ring-size);
  border-radius: 9999px;
  background: var(--color-avatar-ring);
}
.statusRing {
  right: 0;
  bottom: 0;
}
.actionRing {
  right: 0;
  top: 0;
}

.statusDot {
  width: var(--avatar-badge-size);
  height: var(--avatar-badge-size);
  border-radius: 9999px;
}
.statusDot[data-status='online'] {
  background: var(--color-avatar-status-online);
}
.statusDot[data-status='offline'] {
  background: var(--color-avatar-status-offline);
}

.actionBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-badge-size);
  height: var(--avatar-badge-size);
  border-radius: 9999px;
}
.actionBadge[data-action='add'] {
  background: var(--color-avatar-action-add);
}
.actionBadge[data-action='delete'] {
  background: var(--color-avatar-action-delete);
}

.actionIcon {
  width: var(--avatar-badge-icon-size);
  height: var(--avatar-badge-icon-size);
  color: var(--color-avatar-action-icon);
}

.avatar[data-size='xs'] {
  --avatar-size: 1.5rem;
  --avatar-badge-ring-size: 0.5625rem;
  --avatar-badge-size: 0.4375rem;
  --avatar-badge-icon-size: 0.25rem;
  font-size: 0.6875rem;
}
.avatar[data-size='sm'] {
  --avatar-size: 1.75rem;
  --avatar-badge-ring-size: 0.625rem;
  --avatar-badge-size: 0.5rem;
  --avatar-badge-icon-size: 0.3125rem;
  font-size: 0.75rem;
}
.avatar[data-size='md'] {
  --avatar-size: 2rem;
  --avatar-badge-ring-size: 0.6875rem;
  --avatar-badge-size: 0.5625rem;
  --avatar-badge-icon-size: 0.3125rem;
  font-size: 0.875rem;
}
.avatar[data-size='lg'] {
  --avatar-size: 2.5rem;
  --avatar-badge-ring-size: 0.8125rem;
  --avatar-badge-size: 0.6875rem;
  --avatar-badge-icon-size: 0.375rem;
  font-size: 1rem;
}
.avatar[data-size='xl'] {
  --avatar-size: 2.75rem;
  --avatar-badge-ring-size: 0.875rem;
  --avatar-badge-size: 0.75rem;
  --avatar-badge-icon-size: 0.4375rem;
  font-size: 1.125rem;
}
